FIREBASE_WEB_API_KEY=your-web-api-key
FIREBASE_WEB_APP_ID=your-web-app-id
FIREBASE_WEB_MESSAGING_SENDER_ID=your-messaging-sender-id
FIREBASE_WEB_PROJECT_ID=your-project-id
FIREBASE_WEB_AUTH_DOMAIN=your-project-id.firebaseapp.com
FIREBASE_WEB_STORAGE_BUCKET=your-project-id.firebasestorage.app
FIREBASE_WEB_MEASUREMENT_ID=your-measurement-id

FIREBASE_ANDROID_API_KEY=your-android-api-key
FIREBASE_ANDROID_APP_ID=your-android-app-id
FIREBASE_ANDROID_MESSAGING_SENDER_ID=your-messaging-sender-id
FIREBASE_ANDROID_PROJECT_ID=your-project-id
FIREBASE_ANDROID_STORAGE_BUCKET=your-project-id.firebasestorage.app

FIREBASE_IOS_API_KEY=your-ios-api-key
FIREBASE_IOS_APP_ID=your-ios-app-id
FIREBASE_IOS_MESSAGING_SENDER_ID=your-messaging-sender-id
FIREBASE_IOS_PROJECT_ID=your-project-id
FIREBASE_IOS_STORAGE_BUCKET=your-project-id.firebasestorage.app
FIREBASE_IOS_BUNDLE_ID=com.example.yourapp

FIREBASE_MACOS_API_KEY=your-macos-api-key
FIREBASE_MACOS_APP_ID=your-macos-app-id
FIREBASE_MACOS_MESSAGING_SENDER_ID=your-messaging-sender-id
FIREBASE_MACOS_PROJECT_ID=your-project-id
FIREBASE_MACOS_STORAGE_BUCKET=your-project-id.firebasestorage.app
FIREBASE_MACOS_BUNDLE_ID=com.example.yourapp

FIREBASE_WINDOWS_API_KEY=your-windows-api-key
FIREBASE_WINDOWS_APP_ID=your-windows-app-id
FIREBASE_WINDOWS_MESSAGING_SENDER_ID=your-messaging-sender-id
FIREBASE_WINDOWS_PROJECT_ID=your-project-id
FIREBASE_WINDOWS_AUTH_DOMAIN=your-project-id.firebaseapp.com
FIREBASE_WINDOWS_STORAGE_BUCKET=your-project-id.firebasestorage.app
FIREBASE_WINDOWS_MEASUREMENT_ID=your-measurement-id


GEMINI_API_KEY=your-gemini-api-key