FIREBASE_WEB_API_KEY=AIzaSyBMzqqu6seIe-6agptquDtokpEk5E5AyKM
FIREBASE_WEB_APP_ID=1:163277294153:web:9182fbe9458b05c1214d98
FIREBASE_WEB_MESSAGING_SENDER_ID=163277294153
FIREBASE_WEB_PROJECT_ID=harvest-hub-d7d24
FIREBASE_WEB_AUTH_DOMAIN=harvest-hub-d7d24.firebaseapp.com
FIREBASE_WEB_STORAGE_BUCKET=harvest-hub-d7d24.firebasestorage.app
FIREBASE_WEB_MEASUREMENT_ID=G-P13GQR5B5M

FIREBASE_ANDROID_API_KEY=AIzaSyD5fB2yOAJK2romS9xGCPrNiDIgwKtstmc
FIREBASE_ANDROID_APP_ID=1:163277294153:android:e833257db2892762214d98
FIREBASE_ANDROID_MESSAGING_SENDER_ID=163277294153
FIREBASE_ANDROID_PROJECT_ID=harvest-hub-d7d24
FIREBASE_ANDROID_STORAGE_BUCKET=harvest-hub-d7d24.firebasestorage.app

FIREBASE_IOS_API_KEY=AIzaSyBWU9-kBXYA_aZBKrePD2f2CfzTuz58l1A
FIREBASE_IOS_APP_ID=1:163277294153:ios:21d098a81b35ce3b214d98
FIREBASE_IOS_MESSAGING_SENDER_ID=163277294153
FIREBASE_IOS_PROJECT_ID=harvest-hub-d7d24
FIREBASE_IOS_STORAGE_BUCKET=harvest-hub-d7d24.firebasestorage.app
FIREBASE_IOS_BUNDLE_ID=com.example.harvesthub

FIREBASE_MACOS_API_KEY=AIzaSyBWU9-kBXYA_aZBKrePD2f2CfzTuz58l1A
FIREBASE_MACOS_APP_ID=1:163277294153:ios:21d098a81b35ce3b214d98
FIREBASE_MACOS_MESSAGING_SENDER_ID=163277294153
FIREBASE_MACOS_PROJECT_ID=harvest-hub-d7d24
FIREBASE_MACOS_STORAGE_BUCKET=harvest-hub-d7d24.firebasestorage.app
FIREBASE_MACOS_BUNDLE_ID=com.example.harvesthub

FIREBASE_WINDOWS_API_KEY=AIzaSyBMzqqu6seIe-6agptquDtokpEk5E5AyKM
FIREBASE_WINDOWS_APP_ID=1:163277294153:web:ee1a0e606f8cb60f214d98
FIREBASE_WINDOWS_MESSAGING_SENDER_ID=163277294153
FIREBASE_WINDOWS_PROJECT_ID=harvest-hub-d7d24
FIREBASE_WINDOWS_AUTH_DOMAIN=harvest-hub-d7d24.firebaseapp.com
FIREBASE_WINDOWS_STORAGE_BUCKET=harvest-hub-d7d24.firebasestorage.app
FIREBASE_WINDOWS_MEASUREMENT_ID=G-BVHWPR9WCP

GEMINI_API_KEY=Ab8RN6JDmRgyhpEvotLtS_IZUAZ-6pHvenpAupPWc4N0abU9Nw